{% load static %}

<footer>

  <!-- Social Icons -->
  <a href="" target="_blank" rel="noopener" aria-label="GitHub - Opens in a new tab">
    <img src="{% static '/icons/github-icon.svg' %}" alt="GithHub Icon" class="social-icons">
  </a>
  <a href="" target="_blank" rel="noopener" aria-label="YouTube - Opens in a new tab">
    <img src="{% static '/icons/youtube-round-icon.svg' %}" alt="YouTube Icon" class="social-icons">
  </a>
  <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
    <img src="{% static '/icons/instagram-round-icon.svg' %}" alt="Instagram Icon" class="social-icons">
  </a>
  <a href="" target="_blank" rel="noopener" aria-label="LinkedIn - Opens in a new tab">
    <img src="{% static '/icons/linkedin-round-icon.svg' %}" alt="LinkedIn Icon" class="social-icons">
  </a>
  <a href="" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab">
    <img src="{% static '/icons/twitter-round-icon.svg' %}" alt="Twitter Icon" class="social-icons">
  </a>
  
</footer>